%title-h1 {
	font-weight: 300;
	line-height: 1;
	font-size: 7.5rem;
	
	@include respond(phone) {
		font-size: 5.5rem;
	}
}

%title {
	font-weight: 300;
	font-size: 5.5rem;
	line-height: 1;

	@include respond(phone) {
		font-size: 3.5rem;
	}
}

%bg-primary {
	background: #958B61;
  padding: 2.5rem;
  margin: 2.5rem;
  color: #fff;
}

%description {
	font-size: 1.6rem;
}

%bg-wrapper {
    padding: 10rem 0;
    background-color: $color-blue-dark;
    color: $color-white;
}

@mixin parent {
	&:nth-child(1) {
		padding-left: 40rem;
	}
}
