.card-product {
	max-width: 40rem;
	max-height: 60rem;
	min-height: 57.8rem;
	position: relative;
	display: block;
	text-decoration: none;
	color: $color-grey-dark-4;
	transition: .5s;
	background-size: cover;
  background-position: center;


	@include respond(phone) {
		min-height: 50rem;
	}



	img {
		width: 100%;
		display: block;
	}

  &__components {
		transition: .5s;
		padding: 4rem;
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: radial-gradient(326.33% 120.1% at 48% 16.97%, rgba(32, 41, 69, 0) 0%, #202945 100%);
		overflow: hidden;


		&:hover {
			box-shadow: 
				5rem 10rem 20rem $color-blue-dark inset,
				-5rem -10rem 20rem $color-blue-dark inset,
				0 -40rem 30rem $color-blue-dark inset;

			@include respond(phone) {
				box-shadow: none;
			}
		}

		&:hover .card-product__title {
			transform: translateY(0);

			@include respond(phone) {
				transform: translateY(0rem);
			}
		}
		.card-product__title::before {
			@include respond(phone) {
				display: none;
			}
		}
		&:hover .card-product__title::before {
			transform: translateY(5rem);
			opacity: 0;
	
		}

		&:hover .card-product__description {
			opacity: 1;
			visibility: inherit;
			transform: translateY(0);

			@include respond(phone) {
				opacity: 0;
				visibility: hidden;
				transform: translateY(0);
			}
		}

		&:hover .card-product__description-icons {
			transform: translateY(0);
			@include respond(phone) {
				transform: translateY(0);
			}
		}
		
	}

	&__tag {
		line-height: 1;
		min-height: 8rem;
		p {
			margin: 0.5rem 0;
		}
	}

	&__title {
		line-height: 1;
		color: $color-white;
		font-size: 2.4rem;
		transform: translateY(22rem);
		transition:  .5s;

		@include respond(phone) {
			margin: 2rem 0;
			transform: translateY(0);
		}		

		&::before {
			transition:  .5s;
			content: 'Дом';
			display: block;
			color: $color-white;
			font-size: 2.4rem;
			margin: 1rem 0;
		}
	}

	&__description {
		transform: translateY(28rem);
		transition: .5s .1s;
		color: $color-white;
		opacity: 0;
		visibility: hidden;
		font-size: 1.6rem;
		margin: 4.5rem 0;

		@include respond(phone) {
			transform: translateY(0);
		}	
		
		&-icons {
			transition: .5s;
			display: flex;
			flex-wrap: wrap;
			span {
				margin: 1rem 0;
				flex: 1 0 60%;	
				position: relative;
				padding-left: 3.4rem;

				&::before {
					font-size: 2.4rem;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
			}

			span:nth-child(even) {
				flex: 1 0 40%;	
			}
		
		
		}
		

		&-text {
			margin: 1rem 0;
			max-height: 10rem;
			overflow: hidden;
			@include respond(phone) {
				display: none;
			}
			p {
				max-height: 10rem;
				overflow: hidden;
			}
		}
	}

	&__button {
		margin-top: auto;
	}


}


.card-product-js {
	.card-product__components {

		@include respond(phone) {
			box-shadow: 2rem 5rem 10rem $color-blue-dark inset,
			-2rem -5rem 10rem $color-blue-dark inset,
			0 -20rem 15rem $color-blue-dark inset!important;
		}

		
	}

	&__tag {

	}

	.card-product__title {
		@include respond(phone) {
			transform: translateY(5rem)!important;
		}

		&::before {

		}
	}

	.card-product__description {

		@include respond(phone) {
			opacity: 1!important;
			visibility: visible!important;
			transform: translateY(5rem)!important;
		}
		
		&-icons {
			opacity: 1!important;
			visibility: visible!important;
			
		}

		&-text {

			@include respond(phone) {
				display: none;
			}
		}
	}

	&__button {

	}
}


.card-service {
	max-width: 40rem;
	min-height: 52rem;
	padding: 4rem;
	transition: .5s;
	border-top: 0.2rem solid $color-primary;
	display: flex;
	flex-direction: column;
	&:hover {
		background: $color-primary;
		color: $color-white;
	}

	&__title {
		font-size: 1.8rem;
		font-weight: 500;
	}

	&__description {
		margin: 2.5rem 0;
		line-height: 1.2;
		font-size: 1.4rem;
	}

	&__button {
		margin-top: auto;
	}
}

.card-gallery {
	max-width: 60rem;
	position: relative;
	display: block;
	text-decoration: none;
	color: $color-grey-dark-4;
	transition: .5s;
	overflow: hidden;
	&__img img {
		width: 100%;
	}
}

.card-project {
	width: 100%;
	max-width: 57.7rem;
	max-height: 35.5rem;
	min-height: 35.5rem;
	overflow: hidden;
	position: relative;

	& img {
		width: 100%;
		height: 100%;
		@include respond(phone) {
			height: auto;
		}
	}

	@include respond(phone) {
		min-width: 30.5rem;
		min-height: 49rem;
		max-height: none;
		overflow: visible;
		box-shadow: 0px 73px 221px rgba(32, 41, 69, 0.06), 0px 22px 66px rgba(32, 41, 69, 0.04), 0px 10px 27px rgba(32, 41, 69, 0.03), 0px 3px 10px rgba(32, 41, 69, 0.02);
		margin-bottom: 3.2rem;
	}

	&__components {
		transition: .5s;
		color: $color-white;
		position: absolute;
    top: 0;
		box-shadow: 0px -70px 126px 29px #202945 inset;
    width: 100%;
    height: 100%;
    padding: 3.2rem 2.4rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;

		&:hover {
			box-shadow: 0 -70px 175px 110px #202945 inset;
		}

		&:hover .card-project__title {
			transform: translateY(0);
		}

		&:hover .card-project__description {
			transform: translateY(0);
		}

		@include respond(phone) { 
			box-shadow: none;
			position: static;
			color: $color-black;
			display: block;
			padding: 3.2rem 5.2rem;
			&:hover {
				box-shadow: none;
			}

		}
	}


	&__tag {
		grid-column: 1/3;
		@include respond(phone) {
			position: absolute;
			top: -2rem;
			left: 12px;
			p.tag {
				margin: 0.3rem 0;
			}
		}
	}


	&__title {
		line-height: 1.5;
		font-size: 2.4rem;
		transition:  .5s;
		align-self: center;
		grid-column: 1/3;
		transform: translateY(14rem);
		&::before {
			transition:  .5s;
			content: 'Дом';
			display: block;
			font-size: 2.4rem;
		}

		@include respond(phone) {
			text-align: center;
			transform: translateY(0);
			font-weight: 500;
		}
	}

	&__description {
		transition: .5s .1s;
		font-size: 1.6rem;
		align-self: end;
		transform: translateY(16rem);
		
		@include respond(phone) {
			margin: 2rem auto;
		}
		
		&-icons {
			transition: .5s;
			display: flex;
			flex-wrap: wrap;
			span:nth-child(even) {
				flex: 1 0 40%;	
				@include respond(phone) {
					flex: 1 0 30%;	
				}
			}
			span {
				margin: 1rem 0;
				flex: 1 0 60%;	
				position: relative;
				padding-left: 3.4rem;
				@include respond(phone) {
					font-weight: 500;
					flex: 1 0 70%;	
				}
				&::before {
					font-size: 2.4rem;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
			}
		}

		&-price {
			font-size: 2.4rem;
			h3 {
				@include respond(phone) {
					transform: translateY(-2rem);
					font-weight: bold;
					text-align: center;
				}
			}
		}

		@include respond(phone) {
			transform: translateY(0);
		}
	}
	
	&__button {
		grid-column: 2/3;
		align-self: flex-end;
		justify-self: end;
	}

	&__button a:nth-child(odd) {
		display: none;
	}

	&__button a:nth-child(even) {
		display: block;
	}

	@include respond(phone) {
		&__button a:nth-child(even) {
			display: none;
		}

		&__button a:nth-child(odd) {
			display: block;
		}  
	
	}

}