// color vars
$primary-color: $color-primary;
$dark-primary-color: $color-primary-dark;
$accent-color: $color-primary;
$sub-yellow: #ffca00;



//component input

.inputbox {
	margin: 4rem 0;
	position: relative;
	width: 100%;

	input, textarea {
		display: block;
		color: $color-white;
		width: 100%;
		height: 30px;
		box-sizing: border-box;
		line-height: 30px;
		font-size:14px;
		border:0;
		background: none;
		border-bottom:1px solid #ccc;
		outline:none;
		border-radius: 0;
		-webkit-appearance: none;
		position: relative;
		z-index: 10;

		&:focus, &:valid {
			& ~ label {
				color: $accent-color;
				transform: translateY(-20px);
				font-size:0.825em;
				cursor:default;
			}
		}

		&:focus {
			& ~ .underline{
			width: 100%;
			}
		}
	
	}

	label {
		position: absolute;
		top:0;
		left:0;
		height: 30px;
		line-height: 30px;
		color:#ccc;
		cursor:text;
		transition: all 200ms ease-out;
		z-index:1;
	}

	.underline {
		content:'';
		display: block;
		position: absolute;
		bottom:-1px;
		left:0;
		width: 0;
		height: 2px;
		background: $accent-color;
		transition: all 500ms ease-out;
		position: relative;
		top: -1px;
		z-index: 15;
	}
	
}




// .checkbox {
// 	display: flex;
// 	$size: 1.5rem;
// 	--background: transparent;
// 	--border: #BBC1E1;
// 	--border-hover: #e2e4eb;
// 	--border-active: #fff;
// 	--tick: #fff;
// 	position: relative;

// 	input,
// 	svg {
// 			width: $size;
// 			height: $size;
// 			display: block;
// 	}

// 	input {
// 			--s: 1px;
// 			--b: var(--border);
// 			-webkit-appearance: none;
// 			-moz-appearance: none;
// 			position: relative;
// 			outline: none;
// 			background: var(--background);
// 			border: none;
// 			margin: 0;
// 			padding: 0;
// 			cursor: pointer;
// 			transition: box-shadow .3s;
// 			box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
// 			&:hover {
// 				--s: 2px;
// 				--b: var(--border-hover);
// 			}
// 			&:checked {
// 				--b: var(--border-active);
// 			}
// 	}

// 	svg {
// 		pointer-events: none;
// 		fill: none;
// 		stroke-width: 1px;
// 		stroke-linecap: round;
// 		stroke-linejoin: round;
// 		stroke: var(--stroke, var(--border-active));
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: $size;
// 		height: $size;
// 		transform: scale(var(--scale, 1)) translateZ(0);
// 	}

// 	span {
		
// 		color: $color-white;
// 	}

// 	&.path {
// 			input {
// 					&:checked {
// 							--s: 1px;
// 							transition-delay: .4s;
// 							& + svg {
// 									--a: 16.1 86.12;
// 									--o: 102.22;
// 							}
// 					}
// 			}
// 			svg {
// 					stroke-dasharray: var(--a, 86.12);
// 					stroke-dashoffset: var(--o, 86.12);
// 					transition: stroke-dasharray .6s, stroke-dashoffset .6s;
// 			}
// 	}
	
// 	&.bounce {
// 			--stroke: var(--tick);
// 			input {
// 					&:checked {
// 							--s: 11px;
// 							& + svg {
// 									animation: bounce .4s linear forwards .2s;
// 							}
// 					}
// 			}
// 			svg {
// 					--scale: 0;
// 			}
// 	}
// }

.form__field  label {
	cursor: pointer;
}

.form__field:nth-child(4) {
	margin: 3rem 0;
}

input[type="checkbox"]  {
	appearance: none;
	position: relative;
	width: 15px;
	height: 15px;
	border: 1px solid $white;
	cursor: pointer;
	transition: .5s;

	&::before {
		transition: .2s;
		position: absolute;
    content: "";
    display: block;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 8px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
		opacity: 0;
  }

	&:checked {
    color: $white;
    &::before {
      opacity: 1;
    }
  }
}



label {
	cursor: pointer;
}

.wpcf7-form-control-wrap {
	/* position: relative; */
	position: static;
}

.wpcf7-list-item {
	margin: 0;
}





































* {
	box-sizing: border-box;
}
.cbx {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 6px;
	overflow: hidden;
	transition: all 0.2s ease;
	width: 100%;
	margin-bottom: 4px;
	display: inline-block;
	&:not(:last-child) {
		margin-right: 6px;
	}
	&:hover {
		background: rgba(0,119,255,0.06);
		span {
			&:first-child {
				border-color: #07f;
			}
		}
	}
	span {
		float: left;
		vertical-align: middle;
		transform: translate3d(0, 0, 0);
		&:first-child {
			position: relative;
			width: 18px;
			height: 18px;
			border-radius: 4px;
			transform: scale(1);
			border: 1px solid #cccfdb;
			transition: all 0.2s ease;
			box-shadow: 0 1px 1px rgba(0,16,75,0.05);
			svg {
				position: absolute;
				top: 3px;
				left: 2px;
				fill: none;
				stroke: #fff;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-dasharray: 16px;
				stroke-dashoffset: 16px;
				transition: all 0.3s ease;
				transition-delay: 0.1s;
				transform: translate3d(0, 0, 0);
			}
		}
		&:last-child {
			padding-left: 8px;
			line-height: 18px;
		}
	}
}
.inp-cbx {
	position: absolute;
	visibility: hidden;
	&:checked {
		& + .cbx {
			span {
				&:first-child {
					background: #07f;
					border-color: #07f;
					animation: wave 0.4s ease;
					svg {
						stroke-dashoffset: 0;
					}
				}
			}
		}
	}
}

.inline-svg {
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}





	
