
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: $color-black;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.loaded-hiding .preloader {
  transition: 0.5s;
	opacity: 1;
}

.loaded .preloader {
	transition: 0.5s;
  opacity: 0;
	position: absolute;
	z-index: -1000;
	visibility: hidden;
}

.banter-loader {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);


	&__box {
		font-size: 1em;
		margin: 0.5rem;
		padding: 0.5rem;
		opacity: 0;
		display: inline-block;
		path {
			fill: #fff; 
		}
	}
}


$key-frames-ms: 600ms, 500ms, 400ms, 300ms, 200ms, 100ms; 

@each $current-ms in $key-frames-ms {
    $i: index($key-frames-ms, $current-ms);
    .banter-loader label:nth-child(#{$i}) {
      -webkit-animation: loader 3s $current-ms infinite ease-in-out;
      animation: loader 3s $current-ms infinite ease-in-out;
    }   
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-300px) scale(2);
  }
  33% {
    opacity: 1;
    transform: translateX(0px) scale(2);
  }
  66% {
    opacity: 1;
    transform: translateX(0px) scale(2);
  }
  100% {
    opacity: 0;
    transform: translateX(300px) scale(2);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.preloader--part {
	position: absolute;
	background: #000;
	filter: invert(1);
	display: block!important;
}

