.slider {
	&__overflow {
		overflow: hidden;

		@include respond(phone) {
			width: inherit;
		}
	}

	&--one-sided {
		.slider__overflow {
			width: 150%;

			@include respond(phone) {
				width: 100%;
			}
		} 
	}

	&--full {
		.slider__overflow {
			width: auto;
		}
	}
	
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: end;
		margin: 2rem 0;
		@include respond(phone) {
			justify-content: start;
		}
		.swiper-button-next, .swiper-button-prev {
			position: static;
			color: $color-black;
			margin: 0;
			height: auto;
			width: auto;
			display: inline-block;
		}
	}

	&__scrollbar {
		margin: 0 1rem;
		@include respond(phone) {
			width: 100%;
		}
	}

	.swiper-scrollbar {
		background: transparentize(#101820, 0.7);
		height: 1px;
		width: 25rem;
		@include respond(phone) {
			width: 100%;
		}
	}
}

.slider-project {
	width: 117rem;

	@include respond(phone) {
		width: 100%;
	}

	.swiper-slide {
		width: 50%;
		@include respond(phone) {
			width: 85%;
		}
	}

	.swiper-slide:last-child {
		padding-right: 3.5rem;
	}

	.swiper-button-next::after, .swiper-button-prev::after {
		color: $color-black;
	}
}


.slider-camera {
	width: 100%;
	overflow: hidden;
	.swiper-slide {
		frame {
			width: 100%;
		}
	}
}


.slider-service {
	width: 87rem;
	list-style: none;
	padding: 0;
	z-index: 1;

	@include respond(phone) {
		width: 100%;
	}

	.swiper-slide {
		width: 46%;
		@include respond(phone) {
			width: 85%;
		}
	}

}


.slider-gallery {
	width: 117rem;
	list-style: none;
	padding: 0;
	@include respond(phone) {
		width: 100%;
	}
	.swiper-slide {
		width: 50%;

		@include respond(phone) {
			width: 85%;
		}
	}

}

.slider-services-filter {
	width: 5%;
	list-style: none;
	padding: 0;

	.swiper-slide {
		width: auto;
	}
}


#typeStatic {
	@include respond(phone) {
		display: none;
	}
}

#typeSlider {
	display: none;
	@include respond(phone) {
		display: block;
	}
}



.slider-gallery-min {
	position: relative;
	width: 114rem;

	@include respond(phone) {
		width: 100%;
	}

	.swiper-slide {
		width: 25.5%;
		@include respond(phone) {
			width: 85%;
		}
	}
}


.slider-gallery-main {
	max-width: 600px;
	overflow: hidden;
	height: 80%;
	width: 100%;
}
