
:root {
	--swiper-theme-color: #fff;

}


%title {
	font-weight: 300;
	font-size: 5.5rem;
	line-height: 1;

	@include respond(phone) {
		font-size: 3.5rem;
	}
}

%description {
	font-size: 1.6rem;
}

.main {
  min-height: 140rem;
  padding-top: 15.5rem;

	@include respond(phone) {
		height: 100vh;
		min-height: 0;
	}
}

.bg-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
	min-height: 140rem;
	transform: matrix(1, 0, 0, -1, 0, 0);
	background: radial-gradient(180.27% 129.8% at 76.25% 114.75%, rgba(32, 41, 69, 0) 0%, rgba(32, 41, 69, 0.441149) 25.57%, rgba(32, 41, 69, 0.685816) 50.45%, #202945 100%);

	@include respond(phone) {
		height: 100vh;
		min-height: 100vh;
	}
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3.5rem;
}


.text-accent {
	font-weight: 500;
}

.tag {
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	padding: 1rem 2rem;
	background-color: $color-tag;
	display: inline-block;
	line-height: 1;

	&_solid {
		color: $color-white;
		background-color: $color-grey;
	}
}



.info-block {
	position: relative;
	z-index: 10;
	color: $color-white;
	max-width: 92rem;
	margin-top: 9.4rem;

	@include respond(phone) {
		margin-top: 1rem;
	}

	&__tag {
		margin: 2rem 0;
	}

	&__title {
		font-weight: 300;
		line-height: 1;
		font-size: 7.5rem;

		@include respond(phone) {
			font-size: 3.5rem;
		}
	}

	&__description {
		margin: 3.5rem 0 4.5rem 0
	}

	&__buttons a:nth-child(1) {
		margin-right: 5rem;

		@include respond(phone) {
			margin-bottom: 2rem;
			margin-right: 0rem;
			
		}
	}

	&__features {
		display: flex;
		flex-wrap: wrap;
		margin-top: 12rem;
		&-el {
			margin-right: 1rem;
			padding: 0 2.4rem;
			border-left: 2px solid transparentize($color-white, 0.7);
			
			h4 {
				font-weight: 500;
				font-size: 2.4rem;
			}

			p {
				font-size: 1.6rem;
				font-weight: 300;
			}

		}
	}
}

.about-company {
	position: relative;
	display: flex;
	margin-top: -54.4rem;
	align-items: center;
	justify-content: center;
	z-index: 100;

	@include respond(phone) {
		display: block;
		width: 100%;
		margin-top: 0;
	}

	&__title {
		text-align: right;
		padding-right: 20rem;
		line-height: 1;
		font-weight: 300;
		font-size: 5.5rem;
		color: $color-white;
		flex: .4 0 0;
		background-color: transparent;

		@include respond(phone) {
			display: none;
			position: absolute;
			top: 0;
		}
	
	}

	&__description {
		position: relative;
		box-shadow: 0px 73px 221px rgba(32, 41, 69, 0.06), 0px 22.0074px 66.625px rgba(32, 41, 69, 0.0390953), 0px 9.14073px 27.6726px rgba(32, 41, 69, 0.03), 0px 3.30602px 10.0086px rgba(32, 41, 69, 0.0209047);
		min-height: 60.5rem;
		padding: 10.4rem;
		flex: .6 0 0;
		background-color: $color-white;
		align-items: center;

		@include respond(phone) {
			padding: 3.5rem;
		}

		p {
			max-width: 55rem;
			font-size: 1.8rem;
		}

		p:nth-child(2) {
			margin: 2rem 0;
		}

	}

	&__button {
		margin-top: 6rem;
	}
}

.service {
	min-height: 60rem;
	padding: 10rem 0;
	&__title {
		@extend %title;
	}

	&__description {
		@extend %description;
		line-height: 1.5;
		max-width: 50rem;
		margin: 3rem 0 1rem 0
	}
}

.benefit {
	padding: 8rem 0;
	color: $color-white;
	background: url('../img/layer-bg.png') no-repeat $color-blue-dark;
	background-position: 90%;

	&__title {
		@extend %title;
	}

	&__description {
		@extend %description;
		display: flex;
		flex-wrap: wrap;
		margin: 6rem 0;

		& >	p {
			max-width: 31rem;
		}
	}

}

.mark-items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 10rem;
	flex: 1 0 0;
	font-weight: 300;
	&__item {
		flex: 1 0 0;
		p:nth-child(1) {
			line-height: 1;
			font-size: 7.5rem;
			font-weight: 500;
		}

		p:nth-child(2) {
			max-width: 13.5rem;
		}
	}
}

.projects {
	padding: 8rem 0;
	min-height: 109rem;

	&__title {
		@extend %title;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5.5rem;

		@include respond(phone) {
			a {
				display:  none;
			}
		}
	}

	&__filter {
		@include respond(phone) {
			display: none;
		}
		&-switcher {
			width: 33rem;

			@include respond(phone) {
				display: none;
			}
		}

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-buttons {
			display: flex;
			flex-wrap: wrap;
		}

		&-button {
			padding: 1.8rem 6.8rem 1.8rem 0;
			text-decoration: none;
			color: $color-grey-dark-4;
		}
	}

	&__product {
		position: relative;
	}

}







.slider-project {
  width: 40rem;
  height: 300px;
	overflow: hidden;
	@include respond(phone) {
		width: 27rem;
		height: 40rem;
		overflow: hidden;
	}
}

.slider-header {
	width: 100%;
}

.swiper-button-next::after {
	content: 'Вперед';
}

.swiper-button-prev::after {
	content: 'Назад';
}

.slider-thumbs {
	position: absolute;
	right: 8.8rem;
	top: 52rem;
	width: 32rem;
	height: 20rem;
	z-index: 1000;

	.swiper-wrapper, .swiper-pagination, button{
		@include respond(phone) {
			display: none;
		}
	}

	& .swiper-slide {
		width: 32rem;
		height: 20rem;
		overflow: hidden;
		& img {
			width: 100%;
		}
	}

	& .swiper-buttons {
		position: relative;
		bottom: -2rem;

		@include respond(phone) {
			bottom: -10rem;
		}
	
	}
	
	.swiper-scrollbar {
		width: 60%;
		height: 1px;
		background-color: $color-white;
		bottom: -2.5rem;
		left: 6rem;

		@include respond(phone) {
			bottom: 9.8rem;
		}
	}

}
  


