*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what a 1rem is
  font-size: 62.5%;
}

@include font('GothamProCGC', normal, 300, '../fonts/GothamPro/GothamPro-Light.ttf');
@include font('GothamProCGC', normal, 400, '../fonts/GothamPro/GothamPro.ttf');
@include font('GothamProCGC', normal, 500, '../fonts/GothamPro/GothamPro-Medium.ttf');


@import 'node_modules/swiper/swiper-bundle';

body {
  box-sizing: border-box;
  font-size: $default-font-size;
  font-family: $defualt-font-family;
	line-height: $default-line-height;
	color: $color-grey-dark-4;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}