%btn-icon {
	display: inline-block;
	padding: 2rem 7rem 2rem  3.5rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
	transition: .5s;
	text-decoration: none;
	font-size: 1.4rem;
}

.btn-gift {
	@extend %btn-icon;
	color: $color-white;
	background-color: $color-primary;

	&::before {
		content: '';
		position: absolute;
		left: 82%;
		background: url('../img/icon/icon-gift.png') no-repeat;
		background-position: center;
		width: 2rem;
		height: 2rem;
	} 

	&:hover {
		background-color: $color-primary-dark;
	}
}

.btn-secondary {
	box-sizing: border-box;
	@extend %btn-icon;
	color: $color-white;
	outline: 2px solid #ffffff55;
	padding: 1.9rem 6.9rem 1.9rem  3.4rem;

	&::before {
		content: '';
		position: absolute;
		left: 82%;
		background: url('../img/icon/icon-gift.png') no-repeat;
		background-position: center;
		width: 2rem;
		height: 2rem;
	} 

	&:hover {
		background-color: $color-primary-dark;
	}
	
}