.navigation {
	display: flex;
	justify-content: flex-end;
	a:focus {
		outline: none;
	}

	a:focus {
		background: $color-primary;
	}

	li {
		list-style: none;
		margin: 0 2.5rem;
		text-align: center;
		word-break: break-all;
	}


	li a {
		text-decoration: none;
		color: $color-white;
		display: inline-block;
	}

	&__subnav {
		position: relative;
		transition:  .5s;

		 &:hover ul {
			transition:  .5s;
			opacity: 1;
			z-index: 2;
			transform: translateY(10%);
		}

		& ul {
			position: absolute;
			min-width: 15rem;
			opacity: 0;
			z-index: -10;
			transition:  .5s .2s;
			background-color: $color-white;
			transform: translateY(100%);

			& li { margin: 0; }

			a {
				text-align: left;
				display: block;
				padding: .5rem 1rem;
				color: $color-grey-dark;
				transition:  .5s; 
				&:hover {
					color: $color-white;
					background-color: $color-primary;
				}	
			}
		}

		&:hover::before {
			transition: .5s;
			transform: scale(1.1);
			opacity: 0.1;
		}

		&::before {
		
			color: $color-white;
			position: absolute;
			top: 50%;
			right: -1.5rem;
			transform: translateY(-35%);
		}
	}
}

