.navigation {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	@include respond(phone) { // width < 600?
		position: absolute;
		top: 10rem;
		left: 0;
		width: 100%;
		z-index: 1;
		display: block;
	}
	// a:focus {
	// 	outline: none;
	// }

	// a:focus {
	// 	background: $color-primary;
	// }

	li {
		list-style: none;
		margin: 0 2.5rem;
		text-align: center;
		
		@include respond(phone) { // width < 600?
			margin: 0;
		}
	}


	li a {
		text-decoration: none;
		color: $color-white;
		display: inline-block;

		@include respond(phone) { // width < 600?
			padding: 1.5rem 0;
			display: block;
			background-color: transparentize( $color-black, 0.4);
		}
	}

	&__subnav {
		position: relative;
		transition:  .5s;

		& ul {
			white-space: nowrap;
			visibility: hidden;
			position: absolute;
			opacity: 0;
			transition:  .5s .2s;
			background-color: $color-white;
			transform: translateY(15%);

			& li { margin: 0;}

			a {
				text-align: left;
				display: block;
				padding: 2rem;
				color: $color-grey-dark;
				transition:  .5s; 
				&:hover {
					color: $color-white;
					background-color: $color-primary;
				}	
			}
		}

		&:hover ul {
			visibility: visible;
			transition: opacity .5s;
			opacity: 1;
			transform: translateY(5%);
		}

		&:hover::before {
			transition: .5s;
			transform: scale(1.1);
			opacity: 0.1;
		}

		&::before {
			color: $color-white;
			position: absolute;
			top: 50%;
			right: -1.5rem;
			transform: translateY(-35%);

			@include respond(phone) { // width < 600?
				right: 1.5rem;	
			}
		}
	}
}

