- var class1 =  'contacts--dark'

section(class=['contacts', class1])
	.container
		.contacts__wrapper
			.contacts__info
				.contacts__info-title.text-accent Контакты
				.contacts__info-description Есть над чем задуматься: сторонники тоталитаризма в науке.
				.contacts__info-content
					p.icon-email email@company.com
					p.icon-phone 8 800 000 00 00
					p.icon-adress ул. Герасима Курина, д. 10, корп. 2
				.contacts__info-social
					.social
						a.icon-facebook.social__element(href='#')
						a.icon-twiter.social__element(href='#')
						a.icon-instagram.social__element(href='#')
			.contacts__form
				form.form(action='#' method='POST')
					.form__field
						.inputbox
							input#input0(type='text' required='')
							label(for='input0') Ваше имя #{lang}
							span.underline
					.form__field
						.inputbox
							input#input1(type='text' required='')
							label(for='input1') Телефон
							span.underline
					.form__field
						.inputbox
							textarea#input2(type='text' rows='3' required='')
							label(for='input2') Сообщение
							span.underline
					.form__field
						label.checkbox.path
							input(type='checkbox')
							svg(viewBox='0 0 21 21')
								path(d='M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186')
							span#ch1(name='ch1') Даю согласие на обработку персональных данных
					a.btn-primary(href='#') Заказать звонок


