footer.footer
	.container
		.footer__wrapper
			.footer__logo
				a(href='#')
					img(src='img/icon/logo-white.svg' alt='')
			.footer__links
				.footer__links-column
					h4 Услуги
					a(href='') Проектирование
					a(href='') Сбор исходно-разрешительной документации
					a(href='') Дизайн проект
					a(href='') Архитектурное проектирование
					a(href='') Проектирование зданий
					a(href='') Проектирование инженерных коммуникаций
					a(href='') Проектирование систем безопасности и связи
					a(href='') Ландшафтное проектирование
					a(href='') Строительство
					a(href='') Сопровождение
				.footer__links-column
					h4 Проекты
					a(href='') Каталог проектов
					a(href='') Текущие проекты
					a(href='') Реализованные проекты
					a(href='') Объекты для продажи
				.footer__links-column
					h4 О компании
					a(href='') Контакты
					a(href='') Новости
					a(href='') Партнёры
					a(href='') О нас
	.footer__copyright
		.container
			| © CGC
