header.header
	.container
		.header__wrapper
			a.header__logo(href='#')
				img.logo(src='img/icon/logo-white.svg' alt='')
			nav.header__nav
				.header__nav-menu
					.menu-toggle
						.hamburger
							span 
							span 
							span 
						.cross
							span 
							span 
				ul.navigation
					li
						a(href='#') О нас
					li.navigation__subnav.icon-arrow-down
						a(href='#') Улсуги
						ul
							li
								a(href='#') Проектирование
							li
								a(href='#') Сбор исходно-разрешительной документации
							li
								a(href='#') Архитектурное проектирование
							li
								a(href='#') Проектирование зданий
							li
								a(href='#') Проектирование инженерных коммуникаций
							li
								a(href='#') Проектирование инженерных коммуникаций
							li
								a(href='#') Проектирование систем безопасности и связи
							li
								a(href='#') Ландшафтное проектирование
							li
								a(href='#') Строительство
							li
								a(href='#') Сопровождение
					li.navigation__subnav.icon-arrow-down
						a(href='#') Проекты
						ul
							li
								a(href='') Каталог проектов
							li
								a(href='') Текущие проекты
							li
								a(href='') Реализованные проекты
					li
						a(href='#') Объекты в продаже
					li
						a(href='#') Партнёры
					li
						a(href='#') Новости
					li
						a(href='#') Контакты