
section.projects
	.container
		.projects__title
			p
				| Наши 
				span.text-accent проекты
		form.projects__filter
			.projects__filter-switcher
				.can-toggle.demo-rebrand-1
					input#d(type='checkbox')
					label(for='d')
						.can-toggle__switch(data-checked='Текущие' data-unchecked='Реализованные')
				a.btn-primary.btn-primary--outline.btn-primary--icon.icon-arrow-right(href='#')  Все проекты
			.projects__filter-services
				.projects__filter-buttons
					.projects__filter-button
						input#service1(type="radio", name="service") 
						label(for="service1")   Все
					.projects__filter-button
						input#service2(type="radio", name="service") 
						label(for="service2")   Проектирование
					.projects__filter-button 
						input#service3(type="radio", name="service")
						label(for="service3")   Сбор исходно-разрешительной документации
					.projects__filter-button 
						input#service4(type="radio", name="service")
						label(for="service4")   Архитектурное проектирование
					.projects__filter-button 
						input#service5(type="radio", name="service")
						label(for="service5")   Проектирование зданий
					.projects__filter-button 
						input#service6(type="radio", name="service")
						label(for="service6")   Проектирование инженерных коммуникаций
					.projects__filter-button 
						input#service7(type="radio", name="service")
						label(for="service7")   Дизайн проект
					.projects__filter-button 
						input#service8(type="radio", name="service")
						label(for="service8")   Проектирование систем безопасности и связи
					.projects__filter-button 
						input#service9(type="radio", name="service")
						label(for="service9") Ландшафтное проектирование
					.projects__filter-button 
						input#service10(type="radio", name="service")
						label(for="service10")   Строительство
					.projects__filter-button 
						input#service11(type="radio", name="service")
						label(for="service1")   Сопровождение
				.projects__filter-next
					span Еще
					i.icon-arrow-right 
		.projects__product
			.slider-project
				// Additional required wrapper
				.swiper-wrapper
					// Slides
					.swiper-slide
						.card-product
							img(src='img/home1.png' alt='')
							.card-product__components
								.card-product__tag
									p.tag.tag_solid Обьект в продаже
								.card-product__title Дан-Бланш G+
								.card-product__description
									.card-product__description-icons
										span.icon-icon1
											| 160 м
											sup 2
										span.icon-icon2 4
										span.icon-icon3 от 6.0 соток
										span.icon-icon4 2
									.card-product__description-text
										p
											| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
								.card-product__button
									a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#')  Подробнее
					.swiper-slide
						.card-product
							img(src='img/home2.png' alt='')
							.card-product__components
								.card-product__tag
									p.tag.tag_solid Обьект в продаже
								.card-product__title Монблан VS
								.card-product__description
									.card-product__description-icons
										span.icon-icon1
											| 160 м
											sup 2
										span.icon-icon2 4
										span.icon-icon3 от 6.0 соток
										span.icon-icon4 2
									.card-product__description-text
										p
											| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
								.card-product__button
									a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#')  Подробнее
					.swiper-slide
						.card-product
							img(src='img/home3.png' alt='')
							.card-product__components
								.card-product__tag
									p.tag.tag_solid Обьект в продаже
								.card-product__title Норден GX
								.card-product__description
									.card-product__description-icons
										span.icon-icon1
											| 160 м
											sup 2
										span.icon-icon2 4
										span.icon-icon3 от 6.0 соток
										span.icon-icon4 2
									.card-product__description-text
										p
											| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
								.card-product__button
									a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#')  Подробнее
					.swiper-slide
						.card-product
							img(src='img/home4.png' alt='')
							.card-product__components
								.card-product__tag
									p.tag.tag_solid Обьект в продаже
								.card-product__title Монблан VS
								.card-product__description
									.card-product__description-icons
										span.icon-icon1
											| 160 м
											sup 2
										span.icon-icon2 4
										span.icon-icon3 от 6.0 соток
										span.icon-icon4 2
									.card-product__description-text
										p
											| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
								.card-product__button
									a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#')  Подробнее
				.swiper-buttons
					.swiper-button-next
					.swiper-button-prev
				.swiper-scrollbar