
.questions
	.container
		.questions__wrapper
			.questions__title Остались 
				.text-accent вопросы?
			.questions__description Оставьте свой номер телефона и мы перезвоним вам в ближайшее время
			.questions__buttons
				a.btn-primary(href="#") Заказать звонок