extends common/layout.pug



include common/mixins.pug


block title 
	| about CGC Carat Global Construction



block content
	+header('header--light')
	section.about.header-clear
		.container
			.about__title 
				h1 Информация 
					br
					span.text-accent о компании 
			.about__content
				+layout('Ценности', 'компании')
					.about__description
						p Наша цель — раздвинуть границы! Мы поднимаем стандарты строительной отрасли, хорошо знаем своё дело и не перестаём двигаться вперёд. 
						p.text-accent  Мы стремимся к совершенству во всех направлениях и не изменяем своим идеалам: 
					.about__benefit 
						.about-benefit.icon-magic
							h3 Новаторство
							ul
								li высокие стандарты
								li передовые идеи
								li революционный подход
								li вызов обыденности
						.about-benefit.icon-rocet
							h3 Развитие
							ul
								li амбициозность
								li постоянный рост
								li превосходство ожиданий клиента
								li коммерческая осведомлённость
						.about-benefit.icon-professional
							h3 Профессионализм
							ul
								li мастерство высокого уровня
								li решение сложных задач
								li безопасность
								li предупреждение возникновения проблем
						.about-benefit.icon-socail
							h3 Коллектив
							ul
								li взаимопомощь и уважение
								li открытость и честность
								li сплочённость
								li поддержка
			.about__command
				+layout('Команда')
						p Главная ценность нашей компании — это люди. Именно поэтому мы вкладываемся в своих сотрудников, поддерживаем сплочённость в коллективе и соблюдаем строгую трудовую этику, что даёт нам возможность реализовывать проекты, превосходящие ожидания наших клиентов. 
						p.text-accent Наша команда — это большая и дружная семья, состоящая из честных и надёжных профессионалов своего дела. Мы гордимся тем, что тщательно проверяем каждую деталь и неустанно следим за качеством работы, что позволяет не дожидаться возникновения проблем, а заранее выявлять потенциальные сложности на раннем этапе.
						p Экспертность и профессионализм наших сотрудников позволяет найти свежие и инновационные решения, каким бы сложным и трудоёмким ни был проект.
	section.process 
		.container
			h2.process__title
				| Наш 
				span.text-accent процесс
			.process__description
				p Залогом успеха нашей компании является строгая последовательность выполнения строительных работ. Благодаря обширному опыту, мы разработали план, по которому осуществляем все процессы подготовки, проектирования и реализации. За годы деятельности наши клиенты не раз проверили его эффективность на практике.
				p Мы неустанно продолжаем совершенствовать наш процесс, чтобы идти в ногу со временем и даже опережать его.
			.process__steps 
				ul.steps
					li.steps__item
						h3 Выбор участка
						.steps__content 
							p Прежде всего необходимо выбрать участок, на котором будет производиться строительство. От его характеристик зависят многие технические тонкости, такие как глубина фундамента и используемые материалы. Поэтому на начальном этапе вместе с заказчиком мы производим поиск и подбор участка, оформляем покупку, а также проводим различного рода изыскания (топографические, геодезические, геологические и другие).
					li.steps__item 
						h3 Проектирование объекта <br> и подготовка документов
						.steps__content 
							ul
								li Оформление технического задания: определяемся с материалами для фундамента, стен, перекрытий, кровли и фасадной отделки;
								li Индивидуальное проектирование: составляем проект здания, хозяйственных построек, генплан участка и проект наружных инженерных сетей;
								li Подготовка и подписание документов (договор купли-продажи, договор обслуживания, расчёт сметы, договор подряда и нотариальная доверенность).
					li.steps__item 
						h3 Капитальное строительство
						.steps__content 
							p На этом этапе, помимо прочего, происходит уточнение с заказчиком цветовых решений по фасаду и кровле, перечня материалов, комплектации дверей и гаражных ворот. Здесь обеспечивается:
							ul
								li Правовое сопровождение (получение уведомления о строительстве);
								li Подготовительные работы на площадке: создание временного ограждения, вырубка леса, уборка кустарников и зарослей, обустройство “строительного городка”, проведение временных коммуникаций и вертикальная планировка земельного участка;
								li Выбор участка и проекта для строительства частного дома;
								li Зонирование участка, геодезические работы;
								li Устройство фундамента (земляные, бетонные работы);
								li Возведение стен и межкомнатных перегородок;
								li Устройство  межэтажных перекрытий;
								li Устройство стропильной системы и монтаж кровельного покрытия;
								li Фасадные работы;
								li Монтаж окон и дверей.
					li.steps__item
						h3 Дизайн-проект
						.steps__content 
							p Разрабатываем план внутренней отделки помещений:
							ul
								li Эскизный проект интерьерных решений (функциональные планировки помещений и разработка стилевой концепции);
								li Рабочий проект интерьерных решений;
								li 3D-визуализация интерьера.
					li.steps__item
						h3 Инженерные коммуникации
						.steps__content 
							ul
								li Газоснабжение;
								li Проект и прокладка внутренних инженерных сетей: тёплые полы, отопление, канализация и водоснабжение, кондиционирование, вентиляция, телефония, пожарная и охранная сигнализация, система пожаротушения, интернет, элементы системы умного дома;
								li Строительно-монтажные работы по наружным сетям: подключение канализации, водоснабжения, электричества, организация системы полива и освещения на участке;
								li Финальная проверка работы инженерных систем и пуск в эксплуатацию.
					li.steps__item
						h3 Внутренняя отделка
						.steps__content 
							ul
								li Подготовительные работы;
								li Внутренняя отделка: Черновая отделка; Чистовая отделка.
					li.steps__item
						h3 Ландшафтные работы
						.steps__content 
							p установка ограждений, въездных ворот, малых архитектурных объектов, дренаж, террасирование, освещение участка, посадка деревьев и кустарников, оформление газона и дорожек.
					li.steps__item
						h3 Ввод в эксплуатацию <br> и передача документов
						.steps__content 
							p Наше обслуживание гарантирует передачу объекта вместе со всей необходимой документацией и включает в себя регистрацию прав собственности на объект и присвоение почтового адреса.
					li.steps__item
						h3 И наконец - новоселье! <br> Объект готов к эксплуатации!
						.steps__content 
							a.btn-primary Заказать проект
		
	include common/projects.pug
	include common/question.pug
	+contacts('contacts--dark')



