extends common/layout.pug



include common/mixins.pug


block title 
	| about CGC Carat Global Construction



block content
	+header('header--light')
	section.about
		.container
			.about__title 
				h1 Информация 
					br
					span.text-accent о компании 
			.about__content
				+layout('Ценности', 'компании')
					.about__description
						p Наша цель — раздвинуть границы! Мы поднимаем стандарты строительной отрасли, хорошо знаем своё дело и не перестаём двигаться вперёд. 
						p.text-accent  Мы стремимся к совершенству во всех направлениях и не изменяем своим идеалам: 
					.about__benefit 
						.about-benefit
							h3 Новаторство
							ul
								li высокие стандарты
								li передовые идеи
								li революционный подход
								li вызов обыденности
						.about-benefit
							h3 Развитие
							ul
								li амбициозность
								li постоянный рост
								li превосходство ожиданий клиента
								li коммерческая осведомлённость
						.about-benefit
							h3 Профессионализм
							ul
								li мастерство высокого уровня
								li решение сложных задач
								li безопасность
								li предупреждение возникновения проблем
						.about-benefit
							h3 Коллектив
							ul
								li взаимопомощь и уважение
								li открытость и честность
								li сплочённость
								li поддержка
				+layout('Команда')
					.about__command
						p Главная ценность нашей компании — это люди. Именно поэтому мы вкладываемся в своих сотрудников, поддерживаем сплочённость в коллективе и соблюдаем строгую трудовую этику, что даёт нам возможность реализовывать проекты, превосходящие ожидания наших клиентов. 
						p.text-accent Наша команда — это большая и дружная семья, состоящая из честных и надёжных профессионалов своего дела. Мы гордимся тем, что тщательно проверяем каждую деталь и неустанно следим за качеством работы, что позволяет не дожидаться возникновения проблем, а заранее выявлять потенциальные сложности на раннем этапе.
						p Экспертность и профессионализм наших сотрудников позволяет найти свежие и инновационные решения, каким бы сложным и трудоёмким ни был проект.
	section.process 
		p Здесь будет наш процесс
	include common/projects.pug
	include common/question.pug
	+contacts('contacts--dark')



