extends common/layout.pug
block content
	.container
		.main 
			.cards
				.card 
					img(src="img/new_home.png", alt="")
					.card__components
						.card__tag 
							p.tag.tag_solid Обьект в продаже
							p.tag.tag_solid Обьект в продаже
						.card__titel 
						.card__description 
						.card__button
							a.btn-primary.btn-primary--outline.btn-primary--icon.icon-arrow-right(href="#") Подробнее
							a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#')  Подробнее
				.card
					img(src='img/new_home.png' alt='')
					.card__components
						.card__tag
							p.tag.tag_solid Обьект в продаже
							p.tag.tag_primary Спецпредложение
						.card__title Монблан VS
						.card__description
							.card__description-icons
								span.icon-icon1
									| 160 м
									sup 2
								span.icon-icon2 4
								span.icon-icon3 от 6.0 соток
								span.icon-icon4 2
						.card__button
							a.btn-primary.btn-primary--outline.btn-primary--icon.icon-arrow-right(href="#") Подробнее
							a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#') Подробнее
				.card
					img(src='img/new_home.png' alt='')
					.card__components
						.card__tag
							p.tag.tag_solid Обьект в продаже
						.card__title Монблан VS
						.card__description
							.card__description-icons
								span.icon-icon1
									| 160 м
									sup 2
								span.icon-icon2 4
								span.icon-icon3 от 6.0 соток
								span.icon-icon4 2
						.card__button
							a.btn-primary.btn-primary--outline.btn-primary--icon.icon-arrow-right(href="#") Подробнее
							a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#')  Подробнее
				
				