extends common/layout.pug



include common/mixins.pug


block title 
	| contacts CGC Carat Global Construction



block content
	+header('header--light')
	+contacts()
	section.about-company.reset.gs_reveal
		.about-company__title.gs_reveal
			h2
				span.text-accent Информация
				br
				|  о компании
		p
		.about-company__description.gs_reveal
			h2
				|	Информация 
				br
				span.text-accent о компании
			p
				| Залогом успеха нашей компании является 
				span.text-accent строгая последовательность
				| 	 выполнения строительных работ. Благодаря обширному опыту, мы разработали план, по которому осуществляем все процессы подготовки, проектирования и реализации. За годы деятельности наши клиенты не раз проверили его эффективность на практике.
			p
				| Мы неустанно продолжаем совершенствовать наш процесс, чтобы идти в ногу со временем и даже опережать его.
			.about-company__button
				a.btn-primary.btn-primary--outline.btn-primary--icon.icon-arrow-right(href='about.html') Прочитать полностью


