extends common/layout.pug

include common/mixins.pug

block title 
	| CGC Carat Global Construction

block content
	.main-page
		+header()
		.slider-header
			// Additional required wrapper
			.swiper-wrapper
				// Slides
				.swiper-slide
					section.main(style="background: url('img/bg-image.png'); background-size:cover;")
						.bg-wrapper
						.container
							.info-block.gs_reveal.gs_reveal_fromLeft
								.info-block__tag
									.tag Спецпредложение
								.info-block__title
									span.text-accent Получи подарок
									br
									span при заказе до 6 июля
								p.info-block__description
									| Как принято считать, базовые сценарии поведения пользователей неоднозначны и будут 
									br
									|  смешаны с не уникальными данными до степени совершенной.
								.info-block__buttons
									a.btn-primary.btn-primary--icon.icon-gift(href='#') Забрать подарок
									a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='catalog.html') Посмотреть проекты

				.swiper-slide
					section.main(style="background: url('img/bg-image2.png'); background-size:cover;")
						.bg-wrapper
						.container
							.info-block
								.info-block__title
									span Проект дома
									br
									span.text-accent Дан-Бланш G+
								p.info-block__description
									| Дом спроектирован в лучших традициях архитектурного стиля прерий. 
									br
									| 	Четкие линии и парящие крыши идеально вписывают здание в ландшафт, а панорамн...
								.info-block__buttons
									a.btn-primary(href='#') Заказать проект
									a.btn-secondary.btn-secondary--icon.icon-arrow-right(href='#') Посмотреть проект
								.info-block__features
									.features
										.features-row 
											.features-el
												h4
													| 191 м
													sup 2
												p Общая площадь
											.features-el.gs_reveal
												h4 2
												p Количество этажей
											.features-el
												h4 5
												p Количество комнат
											.features-el
												h4 4
												p Спален
		.swiper.slider-thumbs.gs_reveal
			.swiper-wrapper
				.swiper-slide
					img(src='img/bg-image.png' alt='')
				.swiper-slide
					img(src='img/bg-image2.png' alt='')
			.swiper-buttons
				.swiper-button-next
				.swiper-button-prev
			.swiper-scrollbar
			.swiper-pagination
			button.o-play-btn
				i.o-play-btn__icon
					.o-play-btn__mask

	section.about-company.gs_reveal
		.about-company__title.gs_reveal
			h2
				span.text-accent Информация
				br
				|  о компании
		p
		.about-company__description.gs_reveal
			h2
				|	Информация 
				br
				span.text-accent о компании
			p
				| Залогом успеха нашей компании является 
				span.text-accent строгая последовательность
				| 	 выполнения строительных работ. Благодаря обширному опыту, мы разработали план, по которому осуществляем все процессы подготовки, проектирования и реализации. За годы деятельности наши клиенты не раз проверили его эффективность на практике.
			p
				| Мы неустанно продолжаем совершенствовать наш процесс, чтобы идти в ногу со временем и даже опережать его.
			.about-company__button
				a.btn-primary.btn-primary--outline.btn-primary--icon.icon-arrow-right(href='about.html') Прочитать полностью

	include common/services.pug

	section.benefit
		.container
			.benefit__title
				| Наши 
				br
				span.text-accent преимущества
			.benefit__description
				p
					| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но
				.mark-items
					.mark-items__item
						p 10
						p Лет успешно работаем
					.mark-items__item
						p 253
						p Выполненых проекта
					.mark-items__item
						p 43
						p Как уже неоднократно
					.mark-items__item
						p 94
						p Предварительные выводы
			.benefit__statistics
	
	include common/projects.pug
	+contacts()