extends common/layout.pug

block title 
	| CGC Carat Global Construction

block content
	include common/header.pug
	.slider-header
		// Additional required wrapper
		.swiper-wrapper
			// Slides
			.swiper-slide
				section.main(style="background: url('img/bg-image.png'); background-size:cover;")
					.bg-wrapper
					.container
						.info-content
							.info-block
								.info-blog__tag.tag Спецпредложение
								.info-block__title
									span.text-accent Получи подарок
									br
									span при заказе до 6 июля
								p.info-block__description
									| Как принято считать, базовые сценарии поведения пользователей неоднозначны и будут 
									br
									|  смешаны с не уникальными данными до степени совершенной.
								.info-block__buttons
									a.btn-primary.btn-primary_icon.icon-gift(href='#') Забрать подарок
									a.btn-secondary.btn-secondary_icon.icon-arrow-right(href='#') Посмотреть подарок
							.info-content__slider
			.swiper-slide
				section.main(style="background: url('img/bg-image2.png'); background-size:cover;")
					.bg-wrapper
					.container
						.info-content
							.info-block
								.info-block__title
									span Проект дома
									br
									span.text-accent Дан-Бланш G+
								p.info-block__description
									| Дом спроектирован в лучших традициях архитектурного стиля прерий. 
									br
									| 	Четкие линии и парящие крыши идеально вписывают здание в ландшафт, а панорамн...
								.info-block__buttons
									a.btn-primary(href='#') Заказать проект
									a.btn-secondary.btn-secondary_icon.icon-arrow-right(href='#') Посмотреть проект
								.info-block__features
									.info-block__features-el
										h4
											| 191 м
											sup 2
										p Общая площадь
									.info-block__features-el
										h4 2
										p Количество этажей
									.info-block__features-el
										h4 5
										p Количество комнат
									.info-block__features-el
										h4 4
										p
							.info-content__slider
	.swiper.slider-thumbs
		.swiper-wrapper
			.swiper-slide
				img(src='img/bg-image.png' alt='')
			.swiper-slide
				img(src='img/bg-image2.png' alt='')
		.swiper-buttons
			.swiper-button-next
			.swiper-button-prev
		.swiper-scrollbar
		.swiper-pagination
		button.o-play-btn
			i.o-play-btn__icon
				.o-play-btn__mask
	section.about-company
		.about-company__title
			p
				span.text-accent Информация
				br
				|  о компании
		p
		.about-company__description
			p
				| Залогом успеха нашей компании является 
				span.text-accent строгая последовательность
				| 	 выполнения строительных работ. Благодаря обширному опыту, мы разработали план, по которому осуществляем все процессы подготовки, проектирования и реализации. За годы деятельности наши клиенты не раз проверили его эффективность на практике.
			p
				| Мы неустанно продолжаем совершенствовать наш процесс, чтобы идти в ногу со временем и даже опережать его.
			.about-company__button
				a.btn-primary.btn-primary_outline.btn-primary_icon.icon-arrow-right(href='#') Прочитать полностью
	
	section.service.container
		.service__title
			| Наши 
			span.text-accent услуги
		.service__description
			| Прежде всего, современная методология разработки прекрасно подходит для реализации распределения.
		.service__accordion
			dl.badger-accordion.js-badger-accordion
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Сбор исходно-разрешительной документации
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.js-badger-accordion-panel-inner
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, recusandae!
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Проектирование
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.text-module.js-badger-accordion-panel-inner
						a.badger-accordion__panel-subitem(href='#') Архитектурное проектирование
						a.badger-accordion__panel-subitem(href='#') Проектирование зданий
						a.badger-accordion__panel-subitem(href='#') Проектирование инженерных коммуникаций
						a.badger-accordion__panel-subitem(href='#') Дизайн проектирование
						a.badger-accordion__panel-subitem(href='#') Ландшафтное проектирование
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Строительство
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.text-module.js-badger-accordion-panel-inner
						a.badger-accordion__panel-subitem(href='#') Строительство объекта
						a.badger-accordion__panel-subitem(href='#') Внешняя отделка
						a.badger-accordion__panel-subitem(href='#') Внутренняя отделка
						a.badger-accordion__panel-subitem(href='#') Благоустройство территории
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Сопровождение
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.text-module.js-badger-accordion-panel-inner
						p
							| Although badgers are a solitary animal the young Hog Badger tends to be quite playful and social.  I would be careful playing with any animal that has extremely large claws.  Remember folks, it is all fun and games until someone loses an eye.
						p
							| Hog Badgers are omnivores and they feed on a variety of things from honey and fruit to insects and small mammals.
						p
							| A young / baby of a hog badger is called a 'kit'. The females are called 'sow' and males 'boar'. A hog badger group is called a 'cete, colony, set or company'.
	
	section.benefit
		.container
			.benefit__title
				| Наши 
				br
				span.text-accent преимущества
			.benefit__description
				p
					| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но
				.mark-items
					.mark-items__item
						p 10
						p Лет успешно работаем
					.mark-items__item
						p 253
						p Выполненых проекта
					.mark-items__item
						p 43
						p Как уже неоднократно
					.mark-items__item
						p 94
						p Предварительные выводы
			.benefit__statistics
	section.projects
		.container
			.projects__title
				p
					| Наши 
					span.text-accent проекты
				a.btn-primary.btn-primary_outline.btn-primary_icon.icon-arrow-right(href='#')  Все проекты
			.projects__filter
				.projects__filter-top
					.projects__filter-switcher
						.can-toggle.demo-rebrand-1
							input#d(type='checkbox')
							label(for='d')
								.can-toggle__switch(data-checked='Текущие' data-unchecked='Реализованные')
					.projects__filter-buttons
						.projects__filter-button Все
						.projects__filter-button Проектирование
						.projects__filter-button Сбор исходно-разрешительной документации
					.projects__filter-next Еще
				.projects__filter-bottom
					.projects__filter-buttons
						.projects__filter-button Архитектурное проектирование
						.projects__filter-button Проектирование зданий
						.projects__filter-button Проектирование инженерных коммуникаций
						.projects__filter-button Дизайн проект
						.projects__filter-button Проектирование систем безопасности и связи
						.projects__filter-button Ландшафтное проектирование
						.projects__filter-button Строительство
						.projects__filter-button Сопровождение
			.projects__product
				.slider-project
					// Additional required wrapper
					.swiper-wrapper
						// Slides
						.swiper-slide
							.card-product
								img(src='img/home1.png' alt='')
								.card-product__components
									.card-product__tag
										p.tag.tag_solid Обьект в продаже
									.card-product__title Дан-Бланш G+
									.card-product__description
										.card-product__description-icons
											span.icon-icon1
												| 160 м
												sup 2
											span.icon-icon2 4
											span.icon-icon3 от 6.0 соток
											span.icon-icon4 2
										.card-product__description-text
											p
												| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
									.card-product__button
										a.btn-secondary.btn-secondary_icon.icon-arrow-right(href='#')  Подробнее
						.swiper-slide
							.card-product
								img(src='img/home2.png' alt='')
								.card-product__components
									.card-product__tag
										p.tag.tag_solid Обьект в продаже
									.card-product__title Монблан VS
									.card-product__description
										.card-product__description-icons
											span.icon-icon1
												| 160 м
												sup 2
											span.icon-icon2 4
											span.icon-icon3 от 6.0 соток
											span.icon-icon4 2
										.card-product__description-text
											p
												| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
									.card-product__button
										a.btn-secondary.btn-secondary_icon.icon-arrow-right(href='#')  Подробнее
						.swiper-slide
							.card-product
								img(src='img/home3.png' alt='')
								.card-product__components
									.card-product__tag
										p.tag.tag_solid Обьект в продаже
									.card-product__title Норден GX
									.card-product__description
										.card-product__description-icons
											span.icon-icon1
												| 160 м
												sup 2
											span.icon-icon2 4
											span.icon-icon3 от 6.0 соток
											span.icon-icon4 2
										.card-product__description-text
											p
												| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
									.card-product__button
										a.btn-secondary.btn-secondary_icon.icon-arrow-right(href='#')  Подробнее
						.swiper-slide
							.card-product
								img(src='img/home4.png' alt='')
								.card-product__components
									.card-product__tag
										p.tag.tag_solid Обьект в продаже
									.card-product__title Монблан VS
									.card-product__description
										.card-product__description-icons
											span.icon-icon1
												| 160 м
												sup 2
											span.icon-icon2 4
											span.icon-icon3 от 6.0 соток
											span.icon-icon4 2
										.card-product__description-text
											p
												| Приятно, граждане, наблюдать, как элементы политического процесса своевременно верифицированы. Банальные, но неопровержимые выводы...
									.card-product__button
										a.btn-secondary.btn-secondary_icon.icon-arrow-right(href='#')  Подробнее
	include common/contacts.pug