extends common/layout.pug



include common/mixins.pug


block title 
	| service 3 CGC Carat Global Construction



block content
	+header('header--light')
	section.partners
		.container
			.partners__title
					h1 Наши
					span.text-accent партнеры 
			.partners__content 
				+layout('Нам', 'доверяют')
					.partners__description
						p.text-accent Мы вынуждены отталкиваться.
						p Есть над чем задуматься: действия представителей оппозиции объявлены нарушающими общечеловеческие нормы этики и морали. Но сторонники тоталитаризма в науке являются только методом политического участия и своевременно верифицированы. Следует отметить, что социально-экономическое развитие требует от нас анализа анализа существующих паттернов поведения. Есть над чем задуматься: реплицированные с зарубежных источников, современные исследования преданы социально-демократической анафеме! Имеется спорная точка зрения.
					.partners__brand
						.partners-brand
							img(src="", alt="")
							.partners-brand__contacts
								p 
								p 
							p
	include common/question.pug
	+contacts('contacts--dark')
	