extends common/layout.pug

block title 
	| CGC Carat Global Construction


block content
	include common/header.pug
	section.service.container
		.service__title
			| Наши 
			span.text-accent услуги
		.service__description
			| Прежде всего, современная методология разработки прекрасно подходит для реализации распределения.
		.service__accordion
			dl.badger-accordion.js-badger-accordion
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Сбор исходно-разрешительной документации
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.js-badger-accordion-panel-inner
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, recusandae!
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Проектирование
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.text-module.js-badger-accordion-panel-inner
						a.badger-accordion__panel-subitem(href='#') Архитектурное проектирование
						a.badger-accordion__panel-subitem(href='#') Проектирование зданий
						a.badger-accordion__panel-subitem(href='#') Проектирование инженерных коммуникаций
						a.badger-accordion__panel-subitem(href='#') Дизайн проектирование
						a.badger-accordion__panel-subitem(href='#') Ландшафтное проектирование
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Строительство
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.text-module.js-badger-accordion-panel-inner
						a.badger-accordion__panel-subitem(href='#') Строительство объекта
						a.badger-accordion__panel-subitem(href='#') Внешняя отделка
						a.badger-accordion__panel-subitem(href='#') Внутренняя отделка
						a.badger-accordion__panel-subitem(href='#') Благоустройство территории
				dt.badger-accordion__header
					a.badger-accordion__trigger.js-badger-accordion-header
						.badger-accordion__trigger-title
							| Сопровождение
						.badger-accordion__trigger-icon
							i.icon-plus
				dd.badger-accordion__panel.js-badger-accordion-panel
					.badger-accordion__panel-inner.text-module.js-badger-accordion-panel-inner
						p
							| Although badgers are a solitary animal the young Hog Badger tends to be quite playful and social.  I would be careful playing with any animal that has extremely large claws.  Remember folks, it is all fun and games until someone loses an eye.
						p
							| Hog Badgers are omnivores and they feed on a variety of things from honey and fruit to insects and small mammals.
						p
							| A young / baby of a hog badger is called a 'kit'. The females are called 'sow' and males 'boar'. A hog badger group is called a 'cete, colony, set or company'.
	
	include common/contacts.pug