extends common/layout.pug



include common/mixins.pug


block title 
	| CGC Carat Global Construction



block content
	+header('header--light')
	include common/services.pug
	include common/projects.pug
	include common/question.pug
	+contacts('contacts--dark')