extends common/layout.pug



include common/mixins.pug


block title 
	| CGC Carat Global Construction



block content
	section.container
		.test-block
			label#img_category_label.field(for='img_category' data-value='')
				span Pick a site
				#img_category.psuedo_select(name='img_category')
					span.selected
					ul#img_category_options.options
					li.option(data-value='opt_1' onclick="goToSite('https://www.reddit.com/')") Reddit
					li.option(data-value='opt_2' onclick="goToSite('https://www.google.com/')") Google

	include common/projects.pug
