.post {
    display: flex;
    flex-wrap: wrap;
		margin-bottom: 6rem;
    @include respond(phone) {
      display: block;
    }

    &__title {
        h2 {
          font-size: 2.4rem;
					line-height: 1;
        }
        flex: 2.5 0 0;
    }

    &__content {
        flex: 7.5 0 0;
    }
}
