
// COLORS
$color-primary: #958B61;
$color-primary-dark: #776F4C;
//$color-primary-light: #7ed56f;

$color-secondary: #fff;
$color-secondary-light: #fff;
$color-secondary-dark: #ff7730;

$color-live-light: #D25858;
$color-live-dark: #C15353;
//#20294533
$color-tag: #20294514;
$color-blue-light: #7B868C;
$color-blue-dark: #202945;

$color-grey-light-1: #A1A1A1;
$color-grey-light-2: #a7a7a7;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #252525;

$color-white: #fff;
$color-black: #101820;

// FONT
$default-font-size: 1.4rem;
$defualt-font-family: 'GothamProCGC', sans-serif;
$default-line-height: 1.6;
// GRID
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


$box-shadow:  rgba(0, 255, 187, 0.378);